* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.cart-item-count {
  width: 20px;
  height: 20px;
  right: -5px;
}

.card {
  height: 400px;
}

.card div:first-child {
  height: 240px;
}
